header .card {
	color: var(--gray);
	margin: 0;
	padding: 0;
	width: 355px;
	height: 470px;
	max-height: 470px;
	background: var(--white);
	box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
	& > .card-header {
		padding-left: 30px;
		padding-right: 30px;
		max-height: 75px;

		.popular {
			font-size: 12px;
			border-radius: 25px;
			padding: 5px 20px;
			background-color: var(--blue);
			color: var(--white);
		}
		h4 {
			color: var(--text-blue);
			font-size: 18px;
			font-weight: 600;
		}
	}
	
	& > .card-content {
		flex: 1;
		padding: 10px 30px 30px;
		
		p.price {
			position: relative;
			font-size: 36px;
			color: var(--text-blue);
			font-weight: 700;
			&::after {
				content: '/mês';
				margin-left: 5px;
				display: inline;
				font-size: 18px;
				color: var(--gray);
				font-weight: 400;
			}

			span {
				font-size: 18px;
			}
		}

		p:not(.price){
			font-size: 14px;
		}

		hr {
			margin-top: 20px;
			border: none;
			border-top: 1px solid var(--gray-light);
		}

		ul.beneficios {
			margin-top: 20px;
			font-size: 16px;
			font-weight: 600;
		
			li {
				& + li { margin-top: 17px;}
				&::before {
					content: '✔';
					font-size: 18px;
					color: #12c038;
					margin-right: 15px;
				}
			}
		}

	}

	& > .card-actions {
		max-height: 75px;
		padding: 0 30px 50px 30px;
		a {
			text-align: center;
			padding: 12px 24px;
			border-radius: 8px;
			display: block;
			width: 100%;
			border: solid 1px var(--blue);
			color: var(--blue);
			font-weight: 600;
		}
	}
	
	& + .card {
		margin-left: 20px;
	}
	&:hover {
		max-height: 470px;
		height: 470px;
		.card-header {
			background-color: var(--gray-light);
			h4 {
				color: var(--blue);
			}
			transition: all ease-in 0.3s;
		}
		
		.card-actions {
			a {
				background-color: var(--blue);
				color: var(--white);
				transition: all ease-in 0.3s;
			}
		}
	}
	&.active {
		max-height: 490px;
		height: 490px;
		.card-header {
			background-color: var(--yellow);
			h4 {
				color: var(--blue);
			}
		}
		
		.card-actions {
			a {
				background-color: var(--blue);
				color: var(--white);
				transition: all ease-in 0.3s;
			}
		}
	}
}